<div class= 'container mt-5'>
<h1>All Tasks</h1>
<ul class="list-group">
  <% @tasks.each do |task| %>
    <li  class="list-group-item">
      <%= link_to task.title, task_path(task) %>
      <p><%= task.details %></p>
      <p>Completed: <%= task.completed ? 'Yes' : 'No' %></p>
    </li>
  <% end %>
</ul>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary mt-4' %>
</div>
